*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.swal2-popup {
    font-size: 1.8rem !important;
  }

.header
{
    background-color:rgba(245, 245, 247, 1);
    font-family: "poppins";
}

.logo img
{
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.ul-nav
{
    list-style-type: none;
    padding-top: 15px;
}
.ul-nav li
{
    margin: 0 10px;
}
.ul-nav li a
{
    color: #07003b;
    font-size: 1.8rem;
    text-decoration: none;
}
.btn-default
{
    padding: 0.6rem 1rem;
    background-color: #FCA61F;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color:#ffffff;
}
.btn-default:hover
{
    color:#ffffff;
    background-color: #fcb647;
}
.ul-nav li a:hover
{
    color:#FCA61F;
}

.active
{
    color:#FCA61F;
}

.mobile-menu
{
    padding: 1rem 0;
}
.mobile-menu i
{
    font-size:2rem;
    padding-top:0.8rem;
    color: #FCA61F;
    cursor: pointer;
}
.mobile-list
{
    padding-top:1.2rem;
}
.mobile-list ul
{
    list-style-type: none;
    text-align: center;
}
.mobile-list ul li
{
    padding: 0.5rem 0;
}
.mobile-list ul li a
{
    text-decoration: none;
    font-size: 1.8rem;
    color: #07003b;
}
.mobile-list ul li a:hover
{
    text-decoration: underline;
}

.mobile-menu
{
    display: none;
    transition: all 1s ease-in-out;
}
.mobile-list
{
    display: none;
}
@media screen and (max-width:768px){
    .desktop-menu
    {
        display: none;
    }
    .mobile-menu
    {
        display: block;
    }

}